* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial';
  background: silver;
}

nav {
  height: 15vh;
  display: flex;
  align-items: center; /* y */
  justify-content: space-around; /* x */
  background: lightgray;
}

nav > h1 {
  font-size: 2rem;
  color: #333;
}

nav > div {
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
  background: lightslategray;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80vh;
  padding: 1rem;
}

.board {
  background: lightslategray;
  border-radius: 0.5rem;
}

.row {
  display: flex;
}

.cell {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 5px;
  border: 3px blue solid;
  background: white;
}

.fill {
  height: 90px;
  width: 90px;

  position: absolute;
  top: 5px;
  left: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: lightblue;
  cursor: pointer;
}

.fill span {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
}

/*  */

.held {
  cursor: grabbing;
}

.invisible {
  display: none;
}

.hovered {
  background: green;
  border-style: dashed;
}

.hovered-invalid {
  background: red;
  border-style: dashed;
}

.alert {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  color: #eee;
}

.alert > div {
  height: 8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #333;
}

.alert h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

/* Phone */
@media (max-width: 500px) {
  .cell {
    height: 60px;
    width: 60px;
  }
  .fill {
    height: 50px;
    width: 50px;
  }
}